
.header {
    background-color: purple;
    max-width: 242px;
    left: 0px;
    top: 0px;
    width: 338px;
    height: 80px;
}

.displayName {
    color: white;
    max-width: 242px;
    font-size: 18px;
    text-align: left;
    padding-top: 30px;
    padding-left: 10px;
}

.header .logOut {
    font-size: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.header .newChat {
    font-size: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}