
// Override default variables before the import
$auth-card-width: 30rem;
$auth-card-height: 30rem;
$primary: #a168db;
$secondary: #f6f6f6;
$body-color: #656565;
$full-height: 100vh;
$gradient: linear-gradient(
    127.13deg,
    rgba(81, 145, 240, 0.2) 9.04%,
    rgba(81, 145, 240, 0) 71.54%
  ),
  linear-gradient(0deg, #905fc1, #905fc1);

// buttons
$button-border-radius: 45px;
$circle-button-size: 50px;
$gray-button-bg: #D9D9D9;
$gray-button-text: #8B8B8B;
$gray-button-hover: #D0CFCF;
$primary-button-hover: #915DC6;

// auth pages
$auth-header-color: white;
$auth-card-header-height: 6rem;
$auth-card-header-top-padding: 2rem;
$auth-small-text-color: #919191;
$auth-google-text-color: $body-color;
$auth-border-radius: 36px;
$auth-button-padding: 10rem;
$auth-button-google-padding: 6.5rem;
$auth-input-background: #eeeeee;

// header page
$modal-border-radius: 36px;
$header-width: 31rem;
$logout-width: 26rem;
$newchat-width: 35rem;
$error-size: .9rem;

// $theme-colors: (
//   "primary":    $primary,
//   "secondary":  $secondary,
//   "success":    $success,
//   "info":       $info,
//   "warning":    $warning,
//   "danger":     $danger,
//   "light":      $light,
//   "dark":       $dark
// );

// mixins

@mixin inputField {
  padding: 0.8rem;
  padding-left: 1.5rem;
  border-radius: $button-border-radius;
  background-color: $auth-input-background;
  border-width: 0;
}

@mixin circleButton {
  width: $circle-button-size;
  height: $circle-button-size;
  border-radius: 50%;
  border: none;
}

@mixin modalContainer($width) {
  background-color: white;
  width: $width; 
  border-radius: $modal-border-radius;
  box-shadow: 0px 4px 53px 0px #00000026;
  padding: 0px;
  padding-bottom: 2rem;
}

@mixin modalButton($theme) {
  padding: 0.8rem 2.5rem;

  @if $theme == 'gray' {
    background-color: $gray-button-bg;
    color: $gray-button-text;
    border: none;

    &:hover {
      background-color: $gray-button-hover;
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }
  } @else {
    &:hover {
      color: white;
      background-color: $primary-button-hover;
    }
  }
}


// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
 
.btn {
  border-radius: $button-border-radius;

  &-primary {
    color: white;
  }

  &-hover {
    color: white;
  }

  &-focus {
    color: white;
  }
}

.App {
  background-color: $secondary;
  height: 100vh;
}

.card {
  z-index: 2;
  width: $auth-card-width;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 1.5rem;
  // height: $auth-card-height;
  border: 0px;
  border-radius: $auth-border-radius;
  .h2 {
    color: $auth-header-color;
    margin: 0;
  }

  &-header {
    background-color: $primary;
    margin-top: -1vh;
    height: $auth-card-header-height;
    text-align: center;
    padding-top: $auth-card-header-top-padding;

    &:first-child {
      border-top-right-radius: $auth-border-radius;
      border-top-left-radius: $auth-border-radius;
    }
  }
  .btn {
    padding-left: $auth-button-padding;
    padding-right: $auth-button-padding;
    padding-top: 1rem;
    padding-bottom: 1rem;

    &-primary:hover {
      color: $body-color;
    }
    &-outline-primary {
      align-items: stretch;
      img {
        margin-top: -1.1rem;
        margin-bottom: -0.8rem;
        padding-right: 3.8rem;
        width: 6.3rem;
      }
      &:hover {
        color: $secondary;
      }
    }

    &-link {
      font-weight: 600;
      text-decoration: none;
      padding-left: 0.5rem;
      padding-right: 0px;
      padding-top: 0.7rem;
    }
  }

  .google {
    padding-left: 0.5rem;
    padding-right: $auth-button-google-padding;
  }

  .form-control {
    &:first-child {
      margin-top: 2.5rem;
    }
    @include inputField;
  }
}

.auth-container {
  height: $full-height;
  justify-content: center;
}

.App {
  height: $full-height;
  margin: 0;
}

.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}

// fun div thingy
.circle-div {
  position: absolute;
  z-index: 0;
  background: rgba(255, 255, 255, 0.06);
    filter: blur(0.5rem);

  &:nth-child(1) {    
      height: 47rem;
    width: 47rem;
    right: -5rem;
    top: -22rem;
  }

  &:nth-child(2) {
    height: 40rem;
    width: 40rem;
    left: -5rem;
    bottom: -32rem;
  }
  &:nth-child(3) {
    height: 23rem;
    width: 23rem;
    left: 5rem;
    top: 2rem;
  }
}

// header page

.header {
  //background-color: red;
  width: $header-width; //will be changed ^ 33%?
  padding-top: 3rem;

  .nameBox {
    background-color: $primary;
    padding: 1rem;
    border-top-right-radius: $circle-button-size;
    border-bottom-right-radius: $circle-button-size;
    margin-right: 1rem;

    .displayName {
      color: white;
      font-size: 1.5rem;
      text-align: left;
      padding-left: 1rem;
      font-weight: 300;
    }
    .logOut {
      @include circleButton();
      background-color: $secondary;
      color: $primary;
      font-size: 1.5rem;
    }
  }
  .newChat {
    @include circleButton();
    background-color: $primary;
    color: $secondary;
  }
}

// modals
.modalHeader {
  border-top-left-radius: calc($modal-border-radius - 1px);
  border-top-right-radius: calc($modal-border-radius - 1px);
  background-color: $primary;
  margin-bottom: 1rem;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;

  .x {
    float: left;
    font-size: 1.5rem;
    margin-top: -2.5rem;
    margin-left: 0.5rem;
    padding: 0;
    background-color: $primary;
    outline:none;
    border:none;
    color: white;
    transition: .2s ease-in-out;

    &:hover {
      outline:none;
      border:none;
      transform: scale(1.3);
    }
  }
  .modalHeaderText {
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

// new chat modal
.chatPanel {
  @include modalContainer($newchat-width);
  margin-top: 3rem; // to remove ^

  .form-actions {

    input {
      @include inputField;
      margin-bottom: .8rem;
      width: 26rem;
    }
    .errors {
      font-size: $error-size;
      color: $primary;
    }
    .next {
      @include modalButton('purple');
      margin-top: 2rem;
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }
}

#newMessage {
  margin-right: 10.5rem;
}

// logout modal

.logOutPanel {
  @include modalContainer($logout-width);
    
  .signOut {
    @include modalButton('purple');
    margin-right: 2rem;
  }

  .return {
    @include modalButton('gray');
  }
}
