// Override default variables before the import
$body-bg: #F6F6F6;
$purple: #A168DB;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';


body {
    background-color: #F6F6F6;
}

@mixin circleButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
}
// header page

.header {
  background-color: red;
  width: 450px;
  left: 0px;
  height: 80px;
  margin-top: 5%;
  //flex: 1;

  .nameBox {
    background-color: $purple;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    //flex: 4;

    .displayName {
      color: white;
      font-size: 24px;
      text-align: left;
      padding-left: 10%;
    }
    .logOut {
      @include circleButton();
      color: $purple;
      font-size: 26px;
    }
  }
  .newChatBox {
    //flex: 1;

    .newChat {
      @include circleButton();
      background-color: $purple;
      color: $body-bg;
    }
  }
}
